body {
}

.ui-field-contain > label, .ui-field-contain .ui-controlgroup-label, .ui-field-contain > .ui-rangeslider > label {
    float: none;
    width: 20%;
    margin: .5em 2% 0 0;
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}

#page1 {
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    background: url('../images/header-bg.jpg') repeat-x;
}

#txt_username {
    background: url(../images/un.jpg) no-repeat;
    background-position:left center;
    padding-left:40px;
    font-size: 3vw;
}

#txt_password {
    background: url(../images/pw.jpg) no-repeat;
    background-position:left center;
    padding-left:40px;
    font-size: 3vw;
}

#div_menu_items {
    height: 500px;
    overflow: auto;
}
 
#table_container {
    height: 800px;
    overflow: auto;
}

.condiment_tbl {
    font-size: 2vw;
}

.condiment_button {
    font-size: 2vw;
    border: 1px solid;
}

.condiment_title {
    font-size: 3vw;
    float: left;
    font-weight: bold;
}

.condiment_price {
    font-size: 3vw;
    float: right;
    color: red;
    font-weight: bold;
}

.boxMenu_size {
    font-size: 2vw;
    color: white;
    font-weight: bold;
}

.boxMenu_size_left {
    font-size: 2vw;
    float: left;
    font-weight: bold;
}

.boxMenu_size_right {
    font-size: 2vw;
    float: right;
    font-weight: bold;
    background: #FFBB02;
    height: 30px;
    vertical-align: middle;
}

.boxMenu_size_right span{
    color: red;
}

.orderLeft_Pic {
    font-size: 2vw;
    width: 20%;
    background: url("../images/6.jpg") no-repeat;
    background-repeat:no-repeat;
}

.orderPanelClass_totalItems {
    font-size: 2vw;
    background: #8E9295;
    border-bottom: 1px solid #000000;
}

.orderPanelClass {
    font-size: 2vw;
    border-bottom: 1px solid #000000;
    text-align: center;
}

.menu_type_size {
    font-size: 2vw;
    white-space:normal;
    text-transform: uppercase;
    font-weight:bold;
    text-decoration:none;
}

.ui-page-theme-a.menu_type_style.ui-btn {
    width: 120px;
    height: 40px;
    -webkit-border-radius:10px;
    border-radius:10px;
    white-space: nowrap !important;
    overflow: visible !important;
    padding: 1px;
    background: #f9f9f9;
}

.menu_font_size {
    font-size: 2vw;
    white-space:normal;
    text-transform: uppercase;
    font-weight:bold;
    text-align: center;
}

.ui-page-theme-a.menu_header_menu_button_width.ui-btn {
    width: 100px;
    height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight:bold;
    margin:0px;
    padding:0px;
    padding-top:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background: #BF6C0E;
}

.ui-page-theme-a.menu_header_menu_order_pannel_button_width.ui-btn {
    width: 120px;
    height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight:bold;
    margin:0px;
    padding:0px;
    padding-top:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background: #BF6C0E;
}

.ui-page-theme-a.menu_width.ui-btn {
    width: 100px;
    height: 80px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    white-space: nowrap !important;
    overflow: visible !important;
}

.ui-page-theme-a.menu_price_width.ui-btn {
    width: 75px;
    height: 80px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    white-space: nowrap !important;
    overflow: visible !important;
}

.logo {
    width: 20%;
    height: 10%;
    min-width: 245px;
    min-height: 136px;
    padding-top: 3%;
}

.menu_label {
    display: inline-block;
    font-size: 2vw;
    color: #000000;
    text-shadow: 0 1px 0 #fff;
}

.menu_input_box {
    font-size: 2vw;
    width: 120px;
}

label {
    display: inline-block;
    font-size: 3vw;
    color: #ffffff;
    text-shadow: 0 1px 0 #fff;
}

label .black{
    display: inline-block;
    font-size: 3vw;
    color: black;
    text-shadow: 0 1px 0 #fff;
}

.center {
    text-align: center;
}

input.ui-input-text {
    font-size: 1.5vw;
}

a {
    font-size: 2vw;
}

img {
    width: 1vw;
}

.ui-btn-inner {
    font-size: 1.5vw;
}

.dialogLogo {
    width: 3vw;
}

.ui-page-theme-a.btnclick.ui-btn {
    text-transform: uppercase;
    color: white;
    font-weight:bold;
    margin:0px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background: #BF6C0E;
}

.btnClick a:link{
    color: #ffffff;
    text-decoration:none;
}

.btnLeft {
    float: left;
}

.btnRight {
    float: right;
}

.bookingHeader {
    width: 2vw;
    padding: 5px 0px 5px 0px;
    font-size: 2vw;
    text-align: center;
    float: left;
    color: white;
    background-color: #333;
}

.bookingContent {
    width: 2vw;
    padding: 5px 0px 5px 0px;
    font-size: 2vw;
    text-align: center;
    float: left;
    color: black;
}

.ui-grid-d .ui-btn, .ui-grid-e .ui-btn, .ui-grid-solo .ui-btn {
    margin: 0 0 0 0;
    float: none;
}

.ui-block-a img {
    width: 2.8vh;
}

.ui-block-b img {
    width: 2.8vh;
}

.ui-block-c img {
    width: 2.8vh;
}

.ui-block-d img {
    width: 2.8vh;
}

.ui-block-e img {
    width: 2.8vh;
}

.ui-content {
    padding: 3vw 4vw 3vw 4vw;
}

.ui-login-content {
    background-color: #DADAD8;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    width: 90%;
    margin: auto;
}

h3 {
    font-size: 3vw;
}

.ui-li-heading {
    font-size: 3vw;
}


/*red button theme*/
.ui-btn-up-r {
    border: 1px solid #721414;
    background: #AB2525;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #C54E4E), color-stop(1, #AB2525));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#C54E4E', EndColorStr='#AB2525')";
}

    .ui-btn-up-r a.ui-link-inherit {
        color: #fff;
    }

.ui-btn-hover-r {
    border: 1px solid #6E0000;
    background: #B64B4B;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, #D47272, #B64B4B);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #D47272), color-stop(1, #B64B4B));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D47272', EndColorStr='#B64B4B')";
}

    .ui-btn-hover-r a.ui-link-inherit {
        color: #fff;
    }

.ui-btn-down-r {
    border: 1px solid #772222;
    background: #C54E4E;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, #9E3939, #C54E4E);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #9E3939), color-stop(1, #C54E4E));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9E3939', EndColorStr='#C54E4E')";
}

    .ui-btn-down-r a.ui-link-inherit {
        color: #fff;
    }

.ui-btn-up-r,
.ui-btn-hover-r,
.ui-btn-down-r {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

/*Green button*/
ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
 
.ui-btn-up-g
{
	border: 1px solid #397114;
	background: #5aab25;
	text-shadow: 0 -1px 1px #397114;
	background-image: -moz-linear-gradient(top, #3e9734, #63ac5c);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #87c45e), color-stop(1, #619e39));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7ec44f', EndColorStr='#5aab25')";
}
 
.ui-btn-hover-g
{
	border: 1px solid #2c6e00;
	background: #75b54a;
	text-shadow: 0 -1px 1px #2a6901;
	background-image: -moz-linear-gradient(top, #3e9734, #63ac5c);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #99d472), color-stop(1, #75b54a));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#99d472', EndColorStr='#75b54a')";
}
 
.ui-btn-down-g
{
	border: 1px solid #457823;
	background: #7ec44f;
	text-shadow: 0 -1px 1px #457823;
	background-image: -moz-linear-gradient(top, #3e9734, #63ac5c);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #619e39), color-stop(1, #7ec44f));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#619e39', EndColorStr='#7ec44f')";
}
 
.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.ui-body-c .ui-link-inherit {
    color: #ffffff;
}

id {
    padding: 0px 5vw 0px 5vw;
    font-size: 4vw;
}

/*==================responsive=========================*/
@media all and (max-width:768px) {
    .ui-btn-inner {
        font-size: 13px;
    }

    .ui-block-a {
        font-size: 3vw;
    }

    .ui-block-b {
        font-size: 3vw;
    }

    .ui-block-c {
        font-size: 3vw;
    }

    .ui-block-d {
        font-size: 3vw;
    }

    .ui-block-e {
        font-size: 3vw;
    }

    input.ui-input-text {
        /*font-size: 4.5vw;*/
    }

    .logo {
        min-width: 122px;
        min-height: 68px;
        padding-top: 3%;
    }

    label {
        display: inline-block;
        font-size: 4vw;
        color: #ffffff;
        text-shadow: 0 1px 0 #fff;
    }

    a {
        font-size: 4vw;
    }

    .ui-li-heading {
        font-size: 6vw;
    }

    .dialogLogo {
        width: 6vw;
    }

    h3 {
        font-size: 5vw;
    }
}
